Body {
  font-family: 'DM Serif Text', serif;
  background: #FFFFFF;
  background: url("https://garnettr.github.io/jackson-family-christmas/img/07.png"), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1edea));
  background: url("https://garnettr.github.io/jackson-family-christmas/img/07.png"), linear-gradient(to bottom, #fff, #f1edea);
  background-attachment: fixed;
}

header {
  text-align: center;
}

header h1 {
  font-size: 1.125rem;
}

.intro {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 9rem;
  padding: 5%;
}

@media only screen and (min-width: 821px) {
  .intro {
    margin-top: 3rem;
  }
}

.intro h2 {
  color: #ca3b3d;
  font-size: 4rem;
  line-height: 1.125;
  position: relative;
  margin-top: 0;
  z-index: 2;
  font-size: 3rem;
}

@media (min-width: 20rem) and (max-width: 75rem) {
  .intro h2 {
    font-size: calc( 3rem + (5.25 - 3) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}

@media (min-width: 75rem) {
  .intro h2 {
    font-size: 5.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .intro h2 {
    line-height: 1.5;
  }
}

.intro p {
  color: #0e5e3e;
  font-size: 1.125rem;
}

@media (min-width: 20rem) and (max-width: 75rem) {
  .intro p {
    font-size: calc( 1.125rem + (1.5 - 1.125) * ( (100vw - 20rem) / ( 75 - 20) ));
  }
}

@media (min-width: 75rem) {
  .intro p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .intro p {
    width: 62vw;
    margin: auto;
    max-width: 30rem;
  }
}

.intro::before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -9rem;
  width: 50vw;
  height: 100%;
  background: url("https://garnettr.github.io/jackson-family-christmas/img/house.png") no-repeat top center;
  background-size: contain;
}

@media only screen and (min-width: 821px) {
  .intro::before {
    top: 9rem;
    height: 100%;
    width: 28vw;
    left: 1%;
    position: fixed;
    background: url("https://garnettr.github.io/jackson-family-christmas/img/house-large.png") no-repeat;
    background-size: contain;
    margin: initial;
  }
}

.intro:after {
  content: " ";
  position: absolute;
  right: 5rem;
  top: 2rem;
  width: 27%;
  height: 95%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 821px) {
  .intro:after {
    background-image: url("https://garnettr.github.io/jackson-family-christmas/img/fire-place-large.png");
    right: 3.5rem;
  }
}

.intro h2 {
  margin-bottom: 0;
}

.family-playlist {
  display: block;
  top: 87%;
  position: fixed;
  z-index: 10;
  height: 4rem;
  width: 97%;
}

.family-playlist iframe {
  height: 6rem;
}

@media only screen and (min-width: 821px) {
  .family-playlist {
    width: 28vw;
    position: fixed;
    left: 3rem;
    bottom: 0;
  }
}

@-webkit-keyframes slidein {
  from {
    top: 3em;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 100%;
  }
}

@keyframes slidein {
  from {
    top: 3em;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 100%;
  }
}

#family-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

@media only screen and (min-width: 821px) {
  #family-images {
    padding-left: 30vw;
    padding-right: 3rem;
  }
}

#family-images div {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 5% 8%;
  top: 3rem;
  opacity: 0;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

@media only screen and (min-width: 600px) {
  #family-images div {
    margin: 5% 3%;
  }
}

@media only screen and (min-width: 768px) {
  #family-images div {
    width: 10rem;
    height: 10rem;
    margin: 5%;
  }
}

#family-images div:before {
  content: " ";
  position: absolute;
  width: 9rem;
  height: 9rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://garnettr.github.io/jackson-family-christmas/img/wreath.png");
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
  #family-images div:before {
    width: 14rem;
    height: 14rem;
  }
}

#family-images div:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#630202), color-stop(36%, rgba(0, 85, 58, 0)));
  background: linear-gradient(0deg, #630202 0%, rgba(0, 85, 58, 0) 36%);
}

#family-images div.slideUp {
  top: 0;
  opacity: 100%;
  -webkit-transition: top 1s ease-in-out, opacity 1s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: top 1s ease-in-out, opacity 1s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: top 1s ease-in-out, opacity 1s ease-in-out, transform .5s ease-in-out;
  transition: top 1s ease-in-out, opacity 1s ease-in-out, transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

#family-images div:hover, #family-images div:active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 5;
}

#family-images div img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid white;
  width: auto;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

#family-images div span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2rem;
  color: wheat;
  text-transform: capitalize;
  z-index: 5;
  bottom: 0;
}
/*# sourceMappingURL=styles.css.map */